[user]
    email = helloevuez@gmail.com
    name = evuez
    signingkey = 58EB4C15
[core]
	editor = nvim
    excludesfile = ~/.gitignore.global
[merge]
    ff = no
    tool = vimdiff
[alias]
    praise = "!f() { git blame -c $@ | awk '{printf \"\\033[96m%s \\033[97m\\033[100m%s\\033[0m \\033[0m%s\\n\", $1, $3, substr($0, index($0,$7))}' | less -R -S -X; }; f"
    praise-verbose = "!f() { \
        git blame --line-porcelain $@ | awk ' \
        /^([0-9a-f]{39,40})\\s.*/{hash=substr($0, 0, 8)}; \
        /^author (.+)/{author=$2}; \
        /^author-time (.+)/{time=strftime(\"%d-%m-%Y\", $2)}; \
        /^summary (.+)/{summary=substr($0, 9)}; \
        /^\\t(.*)/{printf \"\\033[38;5;245m%s\\n\\033[96m%s \\033[97m\\033[100m%s\\033[0m \\033[38;5;138m%s \\033[97m%s\\n\", summary, hash, author, time, $0}' | less -R -S -X; \
    }; f"
    slog = log --pretty=format:\"%C(yellow)%h%Creset %C(cyan)%s%Creset %C(dim white)(%an, %ar)%Creset\" --graph --left-right
    flog = "!f() { git log --pretty='%h %s' $@ | fzf --preview \"git show --stat (echo {} | awk '{print \\$1}')\"; }; f"
    m3 = mergetool -t merge3
[mergetool "merge3"]
	cmd = vim -d -c \"wincmd l\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[pager]
    diff = diff-highlight | less
    log = diff-highlight | less
    show = diff-highlight | less
[interactive]
    diffFilter = "diff-highlight"
[credential]
	helper = store
